@gray: #dcdcdc;
@green: #52d017;
@red: #e30b5d;
@darkgray: #a7a7a7;

.row() {
  display: flex;
  flex-direction: row;
}

.row-reverse() {
  display: flex;
  flex-direction: row-reverse;
}

.col() {
  display: flex;
  flex-direction: column;
}

.card() {
  background-color: white;
  min-height: 45px;
  border-bottom: 1px solid @gray;
  padding: 10px;
  align-self: end;
}
