@gray: #dcdcdc;
@green: #52d017;
@red: #e30b5d;
@darkgray: #555;
@lightgray: #f7f7f7;

.row() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-reverse() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card() {
  background-color: white;
  min-height: 45px;
  border-bottom: 1px solid @gray;
  padding: 10px;
  -ms-flex-item-align: end;
  align-self: end;
}
