.transactions {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 70%;
  margin: 0 auto;
}
.transactions .filter-bar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  position: sticky;
  margin: 0 auto;
}
.transactions .filter-bar h1 {
  width: 115px;
  text-align: right;
  font-size: 16px;
}
.transactions .filter-bar .filter {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  margin-right: auto;
}
@media only screen and (max-width: 495px) {
  .transactions .transactions {
    padding: 30px 0 !important;
  }
  .transactions h1 {
    display: none;
  }
}
