.transactions {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.transactions .filter-bar {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  position: sticky;
  margin: 0 auto;
}
.transactions .filter-bar h1 {
  text-align: right;
  font-size: 16px;
}
.transactions .filter-bar .filter {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
}
