@import "../../../styles/variables.less";

.transaction-container {
  .card();
  .row();
  gap: 550px;
  justify-content: end;

  span {
    font-size: 14px;
  }

  .description {
    .col();
    gap: 8px;
  }
}
