@import "../../../styles/variables.less";

.transaction {
  .card();
  .row();
  width: 100%;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  margin: 0 auto;
  font-size: 14px;

  &:last-child {
    border-bottom: none;
  }

  &__price {
    margin-right: auto;
    margin-left: 5px;
    width: 30%;
    text-align: left;

    &--red {
      color: @red;
    }

    &--green {
      color: @green;
    }
  }

  .description {
    .col();
    width: 60%;
    text-align: right;
    gap: 8px;

    &__transaction-date {
      color: @darkgray;
    }
    &__transaction-type {
      &--red {
        color: @red;
      }
      &--green {
        color: @green;
      }
    }

    .extra-info {
      .col();
      font-size: 12px;
      color: @darkgray;
    }
    &__concurrency-date {
      font-size: 11px;
      color: black;
      margin: 0;
    }
  }
}
